<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="header">
      <a class="company-name" href="index.html"> <h3>DAPP Real Estate</h3></a>
      <div class="links">
        <a href="#">New products</a>
        <a href="#">Best sales</a>
        <a href="#">Contact us</a>
      </div>
      <button class="connect-btn">Connect to Wallet</button>
    </div>
    <div class="product-details-main">
      <h3>Apartment in NY</h3>
      <div class="product-details-container">
        <div class="product-details-left">
          <img src="./images/main-product.jpg" alt="" />
        </div>
        <div class="product-details-right">
          <span class="name"> Apartment in NY</span>
          <span class="price"
            >43 Old Westport Rd North Dartmouth, Massachusetts(MA), 02747</span
          >
          <span class="price">$100000</span>
          <span class="description"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            deserunt iusto eligendi facilis eum itaque iure voluptates similique
            expedita, maxime rerum.
            <br />
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel vero
            sapiente eveniet deleniti. Nesciunt, sequi dolore. Dolorum voluptas,
            distinctio rerum obcaecati non dolore. Officiis ipsum qui
            perferendis non quia, in sequi quis commodi ipsa officia asperiores,
            tempore itaque cumque modi eveniet ducimus suscipit, mollitia
            tenetur impedit eos quae magni! A.<br />Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Adipisci, qui tempore ipsa animi
            cumque sequi inventore ratione rem nobis modi perferendis unde odit
            assumenda quam dolorem quidem, aperiam, obcaecati recusandae.
          </span>
          <a class="btn-view-details" href="details.html">Buy Property</a>
        </div>
      </div>
    </div>

    <div class="most-popular-section">
      <span class="most-popular-section-title">Most popular</span>
      <div class="most-popular-products">
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            deserunt iusto eligendi facilis eum itaque iure voluptates similique
            expedita, maxime rerum.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            deserunt iusto eligendi facilis eum itaque iure voluptates similique
            expedita, maxime rerum.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            deserunt iusto eligendi facilis eum itaque iure voluptates similique
            expedita, maxime rerum.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            deserunt iusto eligendi facilis eum itaque iure voluptates similique
            expedita, maxime rerum.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            deserunt iusto eligendi facilis eum itaque iure voluptates similique
            expedita, maxime rerum.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
            deserunt iusto eligendi facilis eum itaque iure voluptates similique
            expedita, maxime rerum.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
      </div>
    </div>
  </body>
</html>
