<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="header">
      <a class="company-name" href="index.html"> <h3>DAPP Real Estate</h3></a>
      <div class="links">
        <a href="#">New products</a>
        <a href="#">Best sales</a>
        <a href="#">Contact us</a>
      </div>
      <button class="connect-btn">Connect to Wallet</button>
    </div>

    <div class="main-product">
      <img src="./images/main-product.jpg" alt="" />
      <div class="main-product-container">
        <span class="location">123 Ave, Somestreet, somewhere, CA, USA</span>
        <span class="name">Brick house with love</span>
        <span class="description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
          provident vero quod atque ab id. Ex mollitia, necessitatibus totam
          omnis suscipit aliquid laborum eligendi molestias.
        </span>
        <span class="price">$400,000</span>
        <a class="btn-details" href="details.html">View more</a>
      </div>
    </div>

    <div class="new-products">
      <span class="title">New Products</span>
      <span class="about-sention"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
        deserunt inventore aliquid, enim suscipit voluptatem repellat sit,
        minima iste reiciendis tempora ipsum similique asperiores necessitatibus
        odio. Maxime doloremque, eos facilis incidunt officia omnis deserunt,
        sit porro dolorem, repudiandae ipsa velit.</span
      >
      <div class="products">
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur laudantium optio iure? Quo porro laborum praesentium
            totam explicabo unde et aliquid fuga. Quisquam, qui accusamus.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur laudantium optio iure? Quo porro laborum praesentium
            totam explicabo unde et aliquid fuga. Quisquam, qui accusamus.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur laudantium optio iure? Quo porro laborum praesentium
            totam explicabo unde et aliquid fuga. Quisquam, qui accusamus.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur laudantium optio iure? Quo porro laborum praesentium
            totam explicabo unde et aliquid fuga. Quisquam, qui accusamus.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
      </div>
    </div>

    <div class="best-sellers">
      <span class="title">Best Sales</span>
      <span class="about-sention"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus,
        deserunt inventore aliquid, enim suscipit voluptatem repellat sit,
        minima iste reiciendis tempora ipsum similique asperiores necessitatibus
        odio. Maxime doloremque, eos facilis incidunt officia omnis deserunt,
        sit porro dolorem, repudiandae ipsa velit.</span
      >
      <div class="products">
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur laudantium optio iure? Quo porro laborum praesentium
            totam explicabo unde et aliquid fuga. Quisquam, qui accusamus.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur laudantium optio iure? Quo porro laborum praesentium
            totam explicabo unde et aliquid fuga. Quisquam, qui accusamus.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur laudantium optio iure? Quo porro laborum praesentium
            totam explicabo unde et aliquid fuga. Quisquam, qui accusamus.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
        <div class="product">
          <img src="./images/main-product.jpg" alt="" />
          <span class="price">$100000</span>
          <span class="name">Apartment in NY</span>
          <span class="description"
            >Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Consectetur laudantium optio iure? Quo porro laborum praesentium
            totam explicabo unde et aliquid fuga. Quisquam, qui accusamus.</span
          >
          <a class="btn-view-details" href="details.html">View more</a>
        </div>
      </div>
      <div class="section-footer"></div>
    </div>
  </body>
</html>
